/* Regular */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

html {
    background-color: #FAFAFA;
    color: #1c364e;
    font-family: sans-serif;
    line-height: 1.25;
}

pre {
    font-family: 'Berkeley Mono', monospace;
}

a {
    color: #2f5c85;
    text-decoration: none;
}

a:hover {
    color: #fb9120;
    text-decoration: underline;
}