/* Regular */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Noe Standard';
    src: url('/fonts/NoeStandard-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dia';
    src: url('/fonts/Dia\ Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

:root {
    --primary-color: #EDECEA;
    --secondary-color: #1c364e;
}

html.eink-invert {
    filter: invert(1) grayscale(1) contrast(1.15);
}

::selection {
    background-color: #1c364e;
    color: #EDECEA;
    text-shadow: none;
}

html {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Dia', 'Arial', sans-serif;
    line-height: 1.25;
    text-shadow: 0 0 0 rgba(0,0,0,0),
    -1px 0 2px rgba(0, 255, 255, 0.2),
    1px 0 2px rgba(255, 0, 0, 0.15);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12rem;
}

#sidebar {
    position: sticky;
    top: 3rem;
    align-self: start;
}

main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0 8rem;
    width: 90%;
    max-width: 1100px;
}

pre {
    font-family: 'Berkeley Mono', 'Courier New', Courier, monospace;
    max-width: 100%;
}

a {
    color: #3D5A6E;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: rgba(47, 92, 133, 0.5)
}

a:hover {
    color: #1c364e;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    body {
        padding-top: 3rem;
        overflow: auto;
    }

    main {
        grid-template-columns: 1fr;
        gap: 1.5rem 0;
        width: 95%;
    }

    #sidebar {
        position: static;
        margin-bottom: 0;
    }
}
