html {
    overflow-y:auto;
    overflow-x:hidden;
    font-family: sans-serif;
    background-color: #0f4d92;
    line-height:1.25;
}

.index {
  text-align: left;
}

.body, #blog-footer {
  position: static;
  width:75%; 
  padding-top: 2%;
  padding-left:10%;
  background-color: #0f4d92;
  color: white;
}

.title {
  font-size: 2em;
  margin-bottom:-3px;
}

.sub-header {
    font-size: 1.5em;
    font-weight: bold;
}

a {
    color:white;
}

a:hover {
    color: #E7E6E6
}

.footer {
    position: fixed;
    bottom: 0;
    width:100%;
}

img {
    border-radius: 2%;
    margin-top:2%;
    margin-bottom:2%;
}
