html {
    background-color: #EEE1C6;
    color: #1c364e;
    user-select: none;
    font-family: Times New Roman,Times,serif;
    line-height: 1.25;
}

a {
    color: #2f5c85;
    text-decoration: none;
}

a:hover {
    color: #fb9120;
    text-decoration: underline;
}