html {
    overflow-y:auto;
    overflow-x:hidden;
    font-family: sans-serif;
    line-height: 1.25;
}

.index {
    text-align: center;
}

body {
    background-color: teal;
}

#window {
    font-family: 'Anonymous Pro', monospace;
    background-color: lightgrey;
    height: 775px;
    width: 1300px;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    position: absolute;
}

#animation-canvas {
    margin-left: 25px;
    text-align: center;
    width: 1248px;
    background-color: white;
    margin-top: 30px;
    height: 575px;
    white-space: pre-wrap;
    overflow: hidden;
}

#ascii-canvas,
#eye {
 
}

.about-me {
    margin-top: 25px;
    text-align: center;
}

.links {
    margin-top: 25px;
    text-align: center;
}

.ext-button {
    padding: 5px;
    width: 100px;
    height: 30px;
    /* box-shadow: 10px 5px 5px black; */
}

.ext-button,
.close-button {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.ext-button:active,
.close-button:active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.ext-button:first-of-type {
    
}

#blog-footer {
    position: static;
    margin-left: 25px;
    text-align: left;
}

#blog-footer > a {
    text-decoration: none;
    font-size: 48px;
}

.title {
    font-size: 45px;
    margin-bottom:-3px;
}

.blog-body ul, li {
    text-align: left;
    margin-bottom: 2%;
    margin-bottom: 2%;
    color: pink;
}

.blog-body a {
    color: pink;
    font-size: 18px;
}

.blog-body a:hover {
    color: darkorange;
}

#window-header {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #0000b3;
    color: white;
    padding: 5px;
    cursor: move;
}
