.blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
    font-size: 14px;
}

.content {
    width: 750px;
    max-width: 750px;
}

.title {
    background-color: #2B2B2B;
    color: #FAFAFA;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}